apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-windows
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-world-windows
  template:
    metadata:
      labels:
        app: hello-world-windows
    spec:
      nodeSelector:
        kubernetes.io/os: windows
      containers:
      - name: hello-world
        image: k8syns/hello-world-windows:75
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: hello-world-windows-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: hello-world-windows
  minReplicas: 2
  maxReplicas: 6
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
---
apiVersion: v1
kind: Service
metadata:
  name: hello-world-windows
spec:
  type: ClusterIP
  selector:
    app: hello-world-windows
  ports:
  - name: http
    port: 80
    targetPort: 80
